aiofiles==25.1.0

aiohappyeyeballs==2.6.1

aiohttp==3.13.3

aiosignal==1.4.0

annotated-types==0.7.0

anthropic==0.75.0

anyio==4.12.0

asttokens==3.0.1

attrs==25.4.0

backoff==2.2.1

beautifulsoup4==4.14.3

bracex==2.6

certifi==2026.1.4

cffi==2.0.0

charset-normalizer==3.4.4

click==8.3.1

colorama==0.4.6

comm==0.2.3

cryptography==46.0.3

dataclasses-json==0.6.7

debugpy==1.8.19

decorator==5.2.1

distro==1.9.0

docstring_parser==0.17.0

docx==0.2.4

emoji==2.15.0

executing==2.2.1

filelock==3.20.3

filetype==1.2.0

frozenlist==1.8.0

fsspec==2026.1.0

google-auth==2.47.0

google-genai==1.57.0

greenlet==3.3.0

grpcio==1.76.0

h11==0.16.0

html5lib==1.1

httpcore==1.0.9

httpx==0.28.1

httpx-sse==0.4.3

huggingface-hub==0.36.0

idna==3.11

ipykernel==7.1.0